:root {
  --primary-color:#000;
  --secondary-color:#4A4B4C;
  --currency-text-color:#555;
  --tertiary-color:#7296EE;
  --rarely-color:#5E5F61;


}

       /* GLOBAL STYLES */

html {
  box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
  font-family: "Rubik",Arial,sans-serif;
    background-color: #fff;
}

* {
  box-sizing:inherit;
}


ul,h1,h2,h3,h4,h5,h6,p,li {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
  object-fit: cover;
}

       /*BUTTON*/
.site-header-registration {
    display: inline-block;
    width: 89px;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    line-height: normal;

}
.site-header-button {
    background-color: var(--tertiary-color);
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 500;
}

.site-header-button:hover {
    opacity: 0.8;
}


.site-header-button:active {
    opacity: 0.6;
}



           /*SITE HEADER*/

.site-header-top {
    background-color: #F6F6F6;
    padding: 30px 120px;
    margin-bottom: 10px;
}

.container {
   max-width: 1240px;
   padding-right: 20px;
   padding-left: 20px;
   margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
}
.site-header-logo {
    padding: 9px 6px;
    margin-right: 35px;
    border-radius: 7px;
    background-color: #fff;
}
.site-header-logo:hover {
    opacity: 0.8;
}


.site-header-logo:active {
    opacity: 0.6;
}

.site-header-logo-img {
   width: 262px;
   height: 19px;

}

.site-header-currency {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.site-header-currency-item:not(:last-child) {
    margin-right: 25px;
}

.site-header-currency-type {
    color: #2959CE;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.site-header-currency-value {
    color: var(--currency-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
        /*SEARCH INPUT*/
.search-form {
    margin-right: 25px;
}



.search-input {
    width: 275px;
    height: 45px;
    flex-shrink: 0;
    border: 0;
    padding: 15px 0 13px 41px;
    border-radius: 60px;
    background: #FFF;
}

/*OUTLINE STYLES*/
*:focus {
    outline: 2px dashed var(--tertiary-color);
    offset: 2px;
}



.site-header-langs {
    display: flex;
    align-items: center;
    padding: 3px 13px 3px 3px;
    margin-right: 25px;
    width: 70px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 39px;
    background: #DCE6FF;
}
.site-header-lang {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}


.site-header-lang-uzb {
    color: var(--primary-color);
    width: 30px;
    height: 30px;
    margin-right: 8px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 30px;


}

.site-header-lang-rus {
    color: #A6A6A6;
}

      /*SITENAV*/

.sitenav  {
    margin-bottom: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom:1px solid #d1d1d1 ;
}


.sitenav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sitenav-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.sitenav-link:hover {
    color:var(--tertiary-color)
}

.sitenav-link:active {
    opacity: 0.6;
}

.sitenav-item:not(:last-child) {
    margin-right: 34px;
}

.sitenav-link {
    color: #7F7F7F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.header-ad-container {
    width: 100%;
}

.header-ad {
    display: flex;
}




    /*SITE MAIN*/

.site-main {
    padding-top: 50px;
    padding-bottom: 100px;
    flex-grow: 1;
}




/*GRID NEWS*/

.grid-news {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: 60px;

}


.grid-item {
    width: 393px;
    height: 382px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.news-item {
    display: flex;
    padding: 20px 17px 15px 17px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background-color: #F6F6F6;

}
.article-news-title {
    margin-bottom: 10px;
}




.article-news-link {
    width: 358px;
    height: 78px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.article-news-link:hover {
    color:var(--tertiary-color)
}

.article-news-link:active {
    opacity: 0.6;
}

.article-news-text {
    width: 346px;
    height: 44px;
    margin-bottom: 15px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.article-news-img {
    margin-top: auto;
    margin-bottom: 15px;
}


.article-footer-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.article-footer-source, .article-footer-time {
    margin-right: 2px;
    color: #5E5F61;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}






.article-footer {
    display: flex;
    align-items: center;
}




/*Notification*/
.site-notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
    height: 100px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 60px;
    padding: 24px 71px 24px 29px;
    background-image: url("../img/notification-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}



.site-notification-text{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px
}


.notification-button {
    display: inline-block;
    width: 159px;
    padding: 13px 30px;
    border: 0;
    border-radius: 10px;
    background: #F78B3B;
}



      /*GLOBAL NEWS*/
.main-global-news {
    display: flex;
    align-items: flex-start;
}

.main-global-news-left {
    width: 797px;
    margin-right: 10px;
}
.main-global-news-left-header {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}



.global-article-news {
    display: flex;
    align-items: flex-start;
    background-color: #f6f6f6;
    padding: 20px 17px;
    border-radius: 15px;
    width: 100%;

}

.global-article-news:not(:last-child) {
    margin-bottom: 10px;
}

.global-article-news:last-child {
    margin-bottom: 17px;
}


.global-article-news-img {
    display: flex;
    margin-right: 15px;
}

.global-article-news-content {
    flex-grow: 1;
}

.global-article-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px
}
.global-article-title-link:hover {
    color:var(--tertiary-color)
}

.global-article-title-link:active {
    opacity: 0.6;
}


.global-article-news-text {
    margin-top: 0;
    margin-bottom: 17px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

}

.global-article-footer-img {
    margin-right: 10px;
}

.global-article-footer-time,.global-article-footer-source {
    color: var(--rarely-color);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.global-article-footer-source {
    margin-right: 2px;

}

.global-article-news-button {
    width: 100%;
    display: inline-block;
    padding: 17px;
    border: 0;
    border-radius: 10px;
    background-color: #EAEAEA;
}

/*MAIN GLOBAL NEWS RIGHT*/

.main-global-news-right-part {
    width: 393px;
    padding: 25px 17px 20px;
    margin-top: 49px;
    border-radius: 15px;
    background: #F6F6F6;
}
.main-global-news-right-heading {
    margin-bottom: 25px;
}

.main-global-news-right-list {
    display: flex;
    flex-direction: column;
}



.main-global-news-right-item {
    padding-bottom: 20px;
}

.main-global-news-right-item:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}


.main-global-news-right-item:not(:first-child) {
    padding-top: 20px;
}

.main-global-news-right-title {
    margin-bottom: 8px;
}


.main-global-news-right-link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.main-global-news-right-link:hover {
    color:var(--tertiary-color)
}

.main-global-news-right-link:active {
    opacity: 0.6;
}


.main-global-news-right-source ,.main-global-news-right-time {
    color: var(--rarely-color);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}


.main-global-news-right-part {
    margin-bottom: 10px;
}

/*SITE FOOTER*/

.site-footer {
    background-color:#7297EF ;
    height: 360px;
    padding-top: 40px;
}

.site-footer-top-logo {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    margin-left: 100px;



}

.site-footer-top {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px solid #CECECE;
}

.site-footer-top-information {
    width: 229px;
    height: 95px;
    margin-right: 203px;
    margin-left: 100px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

.site-footer-top-list-information {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.site-footer-top-information-item:not(:last-child) {
    margin-bottom: 20px;
}


.site-footer-top-information-link,.site-footer-top-goods-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.site-footer-top-list-goods {
    display: flex;
    flex-direction: column;
}

.site-footer-top-goods-item:not(:last-child) {
    margin-bottom: 20px;
}

/*FOOTER BOTTOM*/

.site-footer-bottom {
    display: flex;
    margin:0 100px;
    padding-top: 20px;
}

.site-footer-social-text {
    width: 161px;
    height: 46px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}


.site-footer-social-list {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.site-footer-social-item {
    display: inline-block;
    transform: scale(1);
}


.site-footer-social-item:not(:last-child) {
    margin-right: 25px;
}


.site-footer-social-item:hover {
    display: inline-block;
    text-align: center;
    background-color: lightblue;
    border-radius: 10px;


}
.site-footer-social-item:hover .site-footer-social-link {
    padding: 20px;
}












